.header {
  margin: 45px 0 41px;
  padding: 0;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 55px;
  }
}
