.error {
  margin: 0 39px 0;
  max-width: 358px;
  min-height: 16px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  align-self: start;
  justify-self: start;
}
