.popup__save-button {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
  color: #fff;
}
