.profile__avatar {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    width: 128px;
    height: 128px;
  }
}
