.profile__info {
  margin-left: 20px;
  margin-right: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 332px;
  row-gap: 8px;
  justify-items: start;
  position: relative;
}

@media screen and (max-width: 845px) {
  .profile__info {
    margin: 0 auto;
    padding: 26px 0 36px;
    min-width: 300px;
  }
}

@media screen and (max-width: 449px) {
  .profile__info {
    min-width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    justify-items: center;
    align-items: center;
    padding: 24px 0 32px;
    row-gap: 6px;
  }
}
