.profile__button_edit {
  grid-area: button;
  align-self: center;
  background-image: url(../../../../images/profile__info_vector.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  /* margin-bottom: 2px; */
  /* padding: 11px 11px; */
  border: 1px solid #FFF;
}

@media screen and (max-width: 320px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-bottom: 2px;
  }
}
